@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400&display=swap');

$color-primary: hsl(0, 0%, 100%);
$color-paragraph: hsla(0, 0%, 100%, 0.75);
$color-stats: hsla(0, 0%, 100%, 0.6);
$color-purple: hsl(277, 64%, 61%);
$background-primary: hsl(233, 47%, 7%);
$background-secondary: hsl(244, 38%, 16%);
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Lexend Deca', sans-serif;

// UTILITIES 

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    background: $background-primary;
    font-family: 'Inter', sans-serif;
}
h1, h2, h3, h4, h5, p {
    margin: 0;
    color: $color-primary;
}

li {
    list-style: none;
}

a, a:visited, a:active {
    text-decoration: none;
    color: $color-primary;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

// CARD MOBILE

.card-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    .card-grid {
        display: grid;
        margin: 0 5rem;
        grid-template-columns: 32.7rem;
        grid-template-rows: 24rem 54rem;
        grid-template-areas: 
        "image"
        "body";
        .card-image {
            grid-area: image;
            position: relative;
            background-image: url(../images/image-header-mobile.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 0.8rem 0.8rem 0 0;
        }
        .card-body {
            grid-area: body;
            background: $background-secondary;
            border-radius: 0 0 0.8rem 0.8rem;
            display: flex;
            flex-direction: column;
            text-align: center;
            .card-info {
                h4 {
                    font-size: 2.8rem;
                    padding: 3rem 3rem 2rem 3rem;
                    font-weight: 700;
                }
                p {
                    padding: 0 3rem;
                    font-size: 1.5rem;
                    color: $color-paragraph;
                    line-height: 2.5rem;
                    font-weight: 400;
                }
                span {
                    color: $color-purple;
                }
            }
            .card-stat {
                display: flex;
                flex-direction: column;
                gap: 2.5rem;
                padding: 4rem;
                &num {
                    h5 {
                        font-size: 2.4rem;
                        font-weight: 700;
                    }
                    p {
                        font-size: 1.2rem;
                        text-transform: uppercase;
                        letter-spacing: 0.1rem;
                        color: $color-stats;
                        font-family: $font-secondary;
                        padding-top: 0.8rem;
                        font-weight: 300;
                    }
                }
            }
        }
        .card-overlay {
            background-color: $color-purple;
            border-radius: 0.8rem 0.8rem 0 0;
            opacity: 0.75;
            height: 100%;
            width: 100%;
            position: absolute;
            mix-blend-mode: multiply; 
        }
    }
}

// CARD DESKTOP

@media only screen and (min-width: 890px) {
    .card-container {
        .card-grid {
            grid-template-columns: minmax(35rem, 57rem) minmax(32rem, 54rem);
            grid-template-rows: 44.6rem;
            grid-template-areas: 
            "body image"
            ;
            .card-image {
                border-radius: 0 0.8rem 0.8rem 0;
            }
            .card-body {
                border-radius: 0.8rem 0 0 0.8rem;
                padding: 7rem 7rem 6rem 7rem;
                justify-content: space-between;
                .card-info {
                    h4 {
                        font-size: 3.6rem;
                        text-align: left;
                        padding: 0 0 2rem 0;
                    }
                    p {
                        padding: 0;
                        text-align: left;
                        max-width: 370px;
                    }
                }
                .card-stat {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    text-align: left;
                    gap: 2.5rem;
                    padding: 0 7rem 0 0;
                }
            }
            .card-overlay {
                border-radius: 0 0.8rem 0.8rem 0;
            }
        }
    }
}