@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  background: #090b1a;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  color: white;
}

li {
  list-style: none;
}

a, a:visited, a:active {
  text-decoration: none;
  color: white;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container .card-grid {
  display: -ms-grid;
  display: grid;
  margin: 0 5rem;
  -ms-grid-columns: 32.7rem;
      grid-template-columns: 32.7rem;
  -ms-grid-rows: 24rem 54rem;
      grid-template-rows: 24rem 54rem;
      grid-template-areas: "image" "body";
}

.card-container .card-grid .card-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  position: relative;
  background-image: url(../images/image-header-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.8rem 0.8rem 0 0;
}

.card-container .card-grid .card-body {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: body;
  background: #1b1938;
  border-radius: 0 0 0.8rem 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.card-container .card-grid .card-body .card-info h4 {
  font-size: 2.8rem;
  padding: 3rem 3rem 2rem 3rem;
  font-weight: 700;
}

.card-container .card-grid .card-body .card-info p {
  padding: 0 3rem;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
  line-height: 2.5rem;
  font-weight: 400;
}

.card-container .card-grid .card-body .card-info span {
  color: #aa5cdb;
}

.card-container .card-grid .card-body .card-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
  padding: 4rem;
}

.card-container .card-grid .card-body .card-statnum h5 {
  font-size: 2.4rem;
  font-weight: 700;
}

.card-container .card-grid .card-body .card-statnum p {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Lexend Deca", sans-serif;
  padding-top: 0.8rem;
  font-weight: 300;
}

.card-container .card-grid .card-overlay {
  background-color: #aa5cdb;
  border-radius: 0.8rem 0.8rem 0 0;
  opacity: 0.75;
  height: 100%;
  width: 100%;
  position: absolute;
  mix-blend-mode: multiply;
}

@media only screen and (min-width: 890px) {
  .card-container .card-grid {
    -ms-grid-columns: minmax(35rem, 57rem) minmax(32rem, 54rem);
        grid-template-columns: minmax(35rem, 57rem) minmax(32rem, 54rem);
    -ms-grid-rows: 44.6rem;
        grid-template-rows: 44.6rem;
        grid-template-areas: "body image";
  }
  .card-container .card-grid .card-image {
    border-radius: 0 0.8rem 0.8rem 0;
  }
  .card-container .card-grid .card-body {
    border-radius: 0.8rem 0 0 0.8rem;
    padding: 7rem 7rem 6rem 7rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card-container .card-grid .card-body .card-info h4 {
    font-size: 3.6rem;
    text-align: left;
    padding: 0 0 2rem 0;
  }
  .card-container .card-grid .card-body .card-info p {
    padding: 0;
    text-align: left;
    max-width: 370px;
  }
  .card-container .card-grid .card-body .card-stat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
    gap: 2.5rem;
    padding: 0 7rem 0 0;
  }
  .card-container .card-grid .card-overlay {
    border-radius: 0 0.8rem 0.8rem 0;
  }
}
/*# sourceMappingURL=style.css.map */